*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}
.NoteBox{
  width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid gray;
}
.NoteBox input,
.NoteBox button{
  width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
}
.NoteBox .title{
  font-size: 20px;
  font-weight: bolder;
}
.NoteBox input:focus {
  border: none;
  outline: none;
}
.NoteBox button{
  background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 4px;
}
.NoteBox .note {
  padding-bottom: 100px;
}
 .check {
   background: #007BFF;
   color: #fff;
   border: none;
   cursor: pointer;
   max-width: fit-content;
   padding: 10px;
   margin: 10px 0;
   border-radius: 4px;

 }
