* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

.Form,
.store-container,
.admin-container {
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid gray;
}

.admin h1 {
  color: blueviolet;
  font: 500;
  font-size: 40px;
}
.Form p{
  display: flex;
  gap: 10px;

}
.Form p a{
  text-decoration: underline;
}
.Form input,
.Form button{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.Form button {
  background: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.Form button:hover {
  background: #0056b3;
}

.product-card {
  background: #fff;
  padding: 15px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.product-card button {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.product-card button:hover {
  background: #1e7e34;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

@media(max-width:600px) {
  .product-card {
    width: 100%;
  }
}
